hmtl{
    font-size: 30px;
}

#color{
    color: coral;
}

#size{
    font-size: 2rem;
}

#weight{
    font-weight: 900;
}

.family{
    font-family: 'Caveat', cursive;
}

#align{
    text-align: right;
}