.flag{
    background-color: #CE1126;
    height: 600px;
    width: 900px;
    position: relative;
}

.flag > div{
    position: absolute;
    background-color: #002868;
    height: 300px;
    width: 100%;
    top: 150px;
}
div > div > p{
    position: absolute;
    background-color: white;
    
    color: black;
    text-align: center;

    height:200px;
    width: 200px;
    border-radius: 50%;
    left: 350px;
    top: 50px;
}

p{
    text-align: center;
    color: white;
    font-size: 5rem;

    padding: 0;
    margin: 0;
}
